* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  display: flex;
  justify-content: center;
}

.grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 304px 200px;
  grid-template-rows: 604px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board {
  border: solid 2px;
  display: flex;
  flex-wrap: wrap;
}

.board div {
  height: 30px;
  width: 30px;
  border: solid 1px;
}

.board #bottom {
  border: none;
}

.mini-grid {
  height: 120px;
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  background: blueviolet;
}

.mini-grid div {
  height: 30px;
  width: 30px;
}

.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

.tetromino {
  background-color: blue;
}
